<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">

  <mat-list fxFlex>
    <mat-list-item *ngFor="let dish of dishes">
      <img matListItemAvatar src={{dish.image}} alt={{dish.name}}>
      <h1 matListItemTitle> {{dish.name}} </h1>
      <p matListItemLine>
        <span> {{dish.description}} </span>
      </p>
    </mat-list-item>
  </mat-list>

  <mat-list>
    <mat-list-item *ngFor="let dish of dishes">
      <h3 matListItemTitle>{{dish.name}}</h3>
      <p matListItemLine>{{dish.name}}</p>
      <p matListItemLine class="demo-2">{{dish.description}}</p>
    </mat-list-item>
  </mat-list>


</div>
